/* header styles */
.clear {
    clear: both;
}
.header-wraper {
    background-color: #FFFFFF;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}   
.header-img {
    float: left;
    margin-left: 140px;
    margin-right: 148px;
}
.navigation {
    float: left;
}
.nav-li {
    float: left;
    margin-right: 30px;
    margin-top: 48px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
body {
    padding-top: 110px;
}
/* Banner */
.banner-img {
    width: 100%;
    height: 362px;
}
.banner-text {
    position: absolute;
    top: 130px;
    left: 520px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    
}
.banner-text01 {
    position: absolute;
    top: 170px;
    left: 570px;
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    color: #FFFFFF;
    
}
.img-wraper {
    position: relative;
}
/* section 01 */
.post {
    color: #FF7A00;
    font-family: 'Poppins', sans-serif;
    margin-left: 173px;
    margin-top: 84px;
    margin-bottom: 81px;
}
.wraper01 {
    width: 1324px;
    margin: 0 auto;
}
.left-block {
    width: 636px;
    float: left;
}
.right-block {
    width: 636px;
    float: right;
}
.title {
    font-size: 36px;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}
.article {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 22px;
    margin-bottom: 13px;
    color: #7B7B7B;
    line-height: 20px;
    width: 550px;
}
.read-more {
    color: #FF7A00;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.read-more::after {
    content: '';
    width: 47px;
    height: 4px;
    background-color: #FF7A00;
    display: inline-block;
    margin-left: 18px;
}
.top-block {
    padding-bottom: 64px;
}
.img-block {
    border-radius: 3px;
}
.top-block::after {
    content: '';
    clear: both;
    display: block;
}
.bottom-block::after {
    content: '';
    clear: both;
    display: block;
}
.box {
    width: 190px;
    height: 70px;
    background-color: #FF7A00;
    margin: 73px auto 134px auto;
    position: relative;
    z-index: 5;
    margin-bottom: 134px;
    border-radius: 3px;
}
.load-more {
    font-size: 16px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 6;
    transform: translate(-50%, -50%);
}
.box01 {
    width: 100%;
    height: 266px;
    background-color: #181C28;
    margin-bottom: 82px;
}
/* footer section */
.a {
    color: black;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.a01 {
    color: #7B7B7B;
}
.main {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}
.footer-li {
    margin-top: 15px;
    font-size: 16;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
}
.left-wraper {
    float: left;
    margin-right: 198px;
}
.center-wraper {
    float: left;
}
.center-wraper01 {
    float: left;
    margin-left: 242px;
}
.right-wraper {
    float: right;
}
.footer-img {
    margin-top: 20px;
}
.copyright {
    float: right;
    font-family: 'Poppins', sans-serif;
    color: #A4A4A4;
    margin-top: 130px;
    font-size: 16px;
}
.wraper01::after {
	content: '';
    clear: both;
    display: block;
}